* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#category-grid-cont {
    width: 100%;
    display: flex;
    background: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.category-grid {
    display: grid;
    background: transparent;
    grid-template-columns: repeat(2, 700px);
}