* {
    background-color: rgb(34, 30, 30);
}

#main-cont {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 85px;
}

#title-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#prev, #next {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 35px;
}

#prev:hover, #next:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
}
