* {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 30, 30);
}

#grid-cont-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(2, 700px);
}