:root {
  position: absolute;
  width: 125%; 
  height: auto;
  transform: scale(0.8);
  transform-origin: top left;
  background-color: rgb(34, 30, 30);
  margin: 0;
  padding: 0;
  --backdrop-img: '';
}